.jekyll-metadata

_site/
.sass-cache/
bower_components/
node_modules/

# todo: remove following lines when site it ready for deployment.
disciplines/
files/
governance/
news/
tournaments/
test-2.md
test.md