<header>
  <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          Menu
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Croquet Australia</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown"><a tabindex="0" data-toggle="dropdown">Contact Us<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a tabindex="0" href="/governance/contact-us">Office &amp; Board</a></li>
              <li><a tabindex="0" href="/governance/contact-us#committees">Committees</a></li>
              <li><a tabindex="0" href="/governance/contact-us#appointed-officers">Appointed Officers</a></li>
              <li><a tabindex="0" href="/governance/state-associations">State Associations</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a tabindex="0" data-toggle="dropdown">Governance<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a tabindex="0" href="/governance/background">Background</a></li>
              <li><a tabindex="0" href="/governance/constitution-regulations-and-policies">Constitution, Regulations &amp; Policies</a></li>
              <li><a tabindex="0" href="/governance/members">Members</a></li>
              <li><a tabindex="0" href="/governance/minutes/board-meeting-minutes">Board Meeting Minutes</a></li>
              <li><a tabindex="0" href="/governance/insurance">Insurance</a></li>
            </ul>
          </li>
          <li><a tabindex="0" href="/tournaments">Tournaments</a></li>
          <li class="dropdown"><a tabindex="0" data-toggle="dropdown">Disciplines<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li class="dropdown-submenu">
                <a tabindex="0" data-toggle="dropdown">Association Croquet</a>
                <ul class="dropdown-menu" role="menu">
                  <li><a tabindex="0" href="/disciplines/association-croquet/coaching">Coaching</a></li>
                  <li><a tabindex="0" href="/disciplines/association-croquet/refereeing">Refereeing</a></li>
                  <li><a tabindex="0" href="/disciplines/association-croquet/resources">Resources</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a tabindex="0" data-toggle="dropdown">Golf Croquet</a>
                <ul class="dropdown-menu" role="menu">
                  <li><a tabindex="0" href="/disciplines/golf-croquet/coaching">Coaching</a></li>
                  <li><a tabindex="0" href="/disciplines/golf-croquet/refereeing">Refereeing</a></li>
                  <li><a tabindex="0" href="/disciplines/golf-croquet/resources">Resources</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>