<!-- bower:js -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/bootstrap-submenu/dist/js/bootstrap-submenu.js"></script>
<script src="/bower_components/ng-file-upload/ng-file-upload.js"></script>
<script src="/bower_components/markdown-editpreview-ng/lib/codemwnci/bootstrap-markdown.js"></script>
<script src="/bower_components/markdown-editpreview-ng/lib/codemwnci/markdown-editpreview-ng.js"></script>
<script src="/bower_components/markdown-editpreview-ng/lib/codemwnci/Markdown.Converter.js"></script>
<script src="/bower_components/markdown-editpreview-ng/lib/codemwnci/Markdown.Sanitizer.js"></script>
<!-- endbower -->

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
<script src="/bower_components/bootstrap-submenu/js/bootstrap-submenu.js"></script>

<script>
    $('.dropdown-submenu > a').submenupicker();
</script>   